body {
    background:url(assets/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 600px;
    max-height: 400px;
    background-color:black;
    color: #ffffff;
    margin: 40px auto 0px;
    padding: 10px;
    border-style: solid;
    border-color: #ffac33;
    /* display: inline-flex;
    flex-direction: column; */
  }
  
  #controls,
  #stats {
    border: 1px solid white;
    padding: 5px;
    color: white;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }
  #music-bar{
    display: block;
    margin-top: 5vh;
    text-align: center;
  }
  .container{margin-top: 20px;}
  .container img {
    height: 130px;
    width: 150px;
    margin: auto;
    display: block;
}